In [11]:
#import necessary libraries

In [12]:
import pandas as pd 
import sklearn

In [13]:
#displaying the data using data frames

In [14]:
df = pd.read_csv("D:\\heart.csv")
df

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [15]:
#checking of the first five values

In [16]:
df.head(5)

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [17]:
#checking of last five values

In [18]:
df.tail(5)

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [19]:
#checking of duplicate values

In [20]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

In [21]:
#checking of total duplicated values

In [22]:
df.duplicated().sum()

1

In [23]:
#removing the duplicates

In [24]:
df.drop_duplicates().sum()
df

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [25]:
#rechecking the duplicate values

In [26]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

In [27]:
#changing the column name

In [28]:
df.columns=['age','sex', 'chest_pain', 'bp','cholestrol','fibrosis','ECG','thalach','exang','old_peak','slope','ca','thal','target']

In [29]:
df

,age,sex,chest_pain,bp,cholestrol,fibrosis,ECG,thalach,exang,old_peak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [30]:
#checking null values

In [31]:
df.isnull().sum()

age           0
sex           0
chest_pain    0
bp            0
cholestrol    0
fibrosis      0
ECG           0
thalach       0
exang         0
old_peak      0
slope         0
ca            0
thal          0
target        0
dtype: int64

In [32]:
#describing the dataset

In [33]:
df.describe()

,age,sex,chest_pain,bp,cholestrol,fibrosis,ECG,thalach,exang,old_peak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [34]:
#getting detailed information about the dataset

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         303 non-null    int64
 1   sex         303 non-null    int64
 2   chest_pain  303 non-null    int64
 3   bp          303 non-null    int64
 4   cholestrol  303 non-null    int64
 5   fibrosis    303 non-null    int64
 6   ECG         303 non-null    int64
 7   thalach     303 non-null    int64
 8   exang       303 non-null    int64
 9   old_peak    303 non-null    float64
 10  slope       303 non-null    int64
 11  ca          303 non-null    int64
 12  thal        303 non-null    int64
 13  target      303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [36]:
#checking datatypes

In [37]:
df.dtypes

age             int64
sex             int64
chest_pain      int64
bp              int64
cholestrol      int64
fibrosis        int64
ECG             int64
thalach         int64
exang           int64
old_peak      float64
slope           int64
ca              int64
thal            int64
target          int64
dtype: object

In [38]:
#splitting the dataset into testing and the training datasets 
#import the skicit learn library

In [39]:
import sklearn
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split

In [40]:
X = df.drop('target',axis=1)
Y = df['target']

In [41]:
X_train , X_test , Y_train , Y_test =train_test_split(X,Y,test_size=0.3 , random_state = 34)
print(X_train)

     age  sex  chest_pain   bp  cholestrol  fibrosis  ECG  thalach  exang  \
214   56    1           0  125         249         1    0      144      1
84    42    0           0  102         265         0    0      122      0
64    58    1           2  140         211         1    0      165      0
82    60    0           2  102         318         0    1      160      0
26    59    1           2  150         212         1    1      157      0
..   ...  ...         ...  ...         ...       ...  ...      ...    ...
139   64    1           0  128         263         0    1      105      1
35    46    0           2  142         177         0    0      160      1
85    67    0           2  115         564         0    0      160      0
246   56    0           0  134         409         0    0      150      1
122   41    0           2  112         268         0    0      172      1

     old_peak  slope  ca  thal
214       1.2      1   1     2
84        0.6      1   0     2
64        0.0      2   0     2
82        0.0      2   1     2
26        1.6      2   0     2
..        ...    ...  ..   ...
139       0.2      1   1     3
35        1.4      0   0     2
85        1.6      1   0     3
246       1.9      1   2     3
122       0.0      2   0     2

[212 rows x 13 columns]

In [42]:
print(Y_train)

214    0
84     1
64     1
82     1
26     1
      ..
139    1
35     1
85     1
246    0
122    1
Name: target, Length: 212, dtype: int64

In [43]:
print(X_test)

     age  sex  chest_pain   bp  cholestrol  fibrosis  ECG  thalach  exang  \
56    48    1           0  122         222         0    0      186      0
297   59    1           0  164         176         1    0       90      0
262   53    1           0  123         282         0    1       95      1
170   56    1           2  130         256         1    0      142      1
74    43    0           2  122         213         0    1      165      0
..   ...  ...         ...  ...         ...       ...  ...      ...    ...
298   57    0           0  140         241         0    1      123      1
249   69    1           2  140         254         0    0      146      0
229   64    1           2  125         309         0    1      131      1
80    41    1           2  112         250         0    1      179      0
79    58    1           2  105         240         0    0      154      1

     old_peak  slope  ca  thal
56        0.0      2   0     2
297       1.0      1   2     1
262       2.0      1   2     3
170       0.6      1   1     1
74        0.2      1   0     2
..        ...    ...  ..   ...
298       0.2      1   0     3
249       2.0      1   3     3
229       1.8      1   0     3
80        0.0      2   0     2
79        0.6      1   0     3

[91 rows x 13 columns]

In [44]:
print(Y_test)

56     1
297    0
262    0
170    0
74     1
      ..
298    0
249    0
229    0
80     1
79     1
Name: target, Length: 91, dtype: int64

In [45]:
#create a linear model and fitting the model

In [46]:
model = LogisticRegression()

In [47]:
model.fit(X_train ,Y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
#predicting the model

In [48]:
 y = model.predict(X_test)

In [ ]:
#evaluating the performance using mse

In [49]:
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(y,Y_test)
print(mse)

0.13186813186813187

In [ ]:
#evaluating the performance using r2_score

In [50]:
r2 = r2_score(y,Y_test)
print(r2)

0.4484848484848486

In [ ]:
#importing the liner_model

In [51]:
import  sklearn.linear_model

In [ ]:
#importing the LinearRegression

In [52]:
from sklearn.linear_model import LinearRegression

In [ ]:
#creating the linearRegression model

In [53]:
model = LinearRegression()

In [ ]:
#fitting the model

In [54]:
model.fit(X_train,Y_train)

LinearRegression()

In [ ]:
#predicting the model

In [58]:
 y = model.predict(X_test)

array([ 0.87974736,  0.03450616, -0.25375476,  0.61466336,  1.04483478,
        0.37879724,  0.40968522,  0.66001887, -0.04551947,  0.68985436,
        0.80472843, -0.21111937,  0.07994067,  0.99418059,  0.11162083,
        0.52091215,  0.70210026,  1.14140706,  0.09863655,  0.83119372,
       -0.07880702,  0.8748266 , -0.04166275,  0.17137082,  1.07377393,
        0.84412972,  0.02312417, -0.17677048,  0.66188986, -0.02489125,
        0.74836688, -0.05599174,  0.66677258,  0.5604265 ,  0.9546977 ,
        0.18991237,  0.8623438 ,  0.35750233,  0.93687111,  1.01785434,
        0.21148363,  0.7807956 ,  0.70078997,  0.98227134,  0.64033854,
        0.98963093, -0.21077266,  1.03059323,  0.60871076,  0.91807135,
        0.70124451,  0.96435518,  0.55042265,  0.78096179,  0.95521526,
       -0.2411465 ,  0.31363866,  0.98029956,  0.65986849,  0.88159252,
        0.66005328,  0.69748935,  1.10371784,  0.00275508,  0.62008084,
        1.26879847,  0.80250282,  0.90306153,  0.88310964,  0.07482366,
        0.68772991,  0.65191867,  0.02947339,  0.52695672,  0.07966992,
        0.75048625,  0.64253652,  0.95518377,  1.10127768,  0.8507273 ,
        0.35854648,  0.18656831,  0.98880542,  0.1971223 ,  0.86867985,
        0.26041386,  0.35791216,  0.09371989,  0.40677409,  1.11801805,
        0.62054866])

In [ ]:
#evaluating the model performance using the mean_squared_error

In [59]:
mse = mean_squared_error(Y_test,y)
mse

0.13186813186813187

In [ ]:
#evaluating using r2_Score

In [61]:
r2 = r2_score(Y_test,y)
r2

0.4647058823529411

In [ ]:
#the performance of the model when comparing r2_score is better for LinearRegression rather than Logistic Regression